---
title: CGB37 Projects
layout: default
category: project
---

<section id="portfolio" class="section pv-40 light-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="title"><span class="text-muted">Recent</span> <span class="text-default">Projects</span></h2>
                <div class="separator"></div>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit Illo quaerat <br> commodi excepturi dignissimos!</p>
                <br>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            {% for post in site.categories.project limit:10 %}
            <div class="image-box style-3-b">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="shadow bordered">
                            <img src="{{site.baseurl}}/{{ post.thumbnail }}" alt="">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <div class="body">
                            <h3 class="title"> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}}</a></h3>
                            <p class="small mb-10">
                                {% for t in post.tags %}
                                  <a href="{{ t.url }}">{{ t.tag }}</a>
                                {% endfor %}
                            </p>
                            <div class="separator-2"></div>
                            <p class="mb-10">{{ post.meta }}</p>
                            <p><a href="{{site.baseurl}}{{ post.url }}">Read More</a></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>