---
posttype: blog
section:
category:
layout: default
title:
author: Charles Brown-Roberts
tags:
keywords:
description:
abstract:
thumb:
jumbo:
youtube:
---

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid blog-post-jumbotron" aria-label="Header Image">
                {% if page.jumbo %}
                <img src="/{{site.posts_jumbo_image_path}}/{{ page.jumbo }}" class="img-fluid my-jumbotron-img-wrapper" alt="Header Image">
                {% else %}
                <!-- Alternative content or fallback image here -->
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="adsense-blog-post-sidebar">
                {% include adsense-blog-post.html %}
            </div>
        </div>

        <div class="col-md-10">
            <article id="{{ page.id }}">
                <h1><a href="{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
                <div class="article-metadata">
                    <span>by <a href="{{ page.author_url}}">{{ page.author }}</a></span>
                    <span>{{ page.date | date_to_string }}</span>
                </div>
                <div class="article-body">
                    {{ content }}
                </div>
            </article>
        </div>
    </div>
    <div class="row">
        {% include tags/related_posts_by_tag.html %}
    </div>
</div>

<script type="application/ld+json">
{ "@context": "http://schema.org",
 "@type": "Article",
 "headline": "{{ page.title }}",
 "alternativeHeadline": "",
 "image": "https://cgb37.github.io/{{ page.thumbnail }}",
 "award": "",
 "editor": "{{ page.author }}",
 "genre": "{{ page.category }}",
 "keywords": "{{ page.keywords }}",
 "wordcount": "",
 "publisher": "Charles Brown-Roberts",
 "url": "https://cgb37.github.io{{ page.url }}",
 "datePublished": "{{ page.date }}",
 "dateCreated": "{{ page.date }}",
 "dateModified": "{{ page.date }}",
 "description": "{{ page.abstract }}"
 }
</script>