---
category: blog
layout: default
title:
author: Charles Brown-Roberts
tags:
keywords:
description:
abstract:
thumbnail: blog/images/
jumbotron:
youtube:
---

<div class="container">
    <div class="row">

        <div class="col-lg-3">
            {% include profile.html %}
            <div class="adsense-blog-post">
                {% include adsense-blog-post.html %}
            </div>
        </div>

        <div class="col-lg-9">

            <article id="{{ page.id }}">
                <a href="{{ page.url }}" rel="bookmark" title="{{ page.title }}">
                    <h1>{{ page.title }}</h1>
                    <span>{{ page.date }}</span>
                </a>
                <div class="article-metadata">
                    <span>by {{ page.author }}</span>
                </div>
                <div class="article-body">
                    {{ content }}
                </div>
            </article>

        </div>
    </div>
</div> 