<!-- Required meta tags always come first -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="author" content="{{ page.author }}">

<!-- open graph -->
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="https://cgb37.github.io{{ page.url }}">
<meta property="og:image" content="https://cgb37.github.io/{{ page.thumbnail }}">


<!-- twitter card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@californiavol">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">


<link rel="icon" type="image/x-icon" href="{{ site.github.url }}/favicon.ico">

<title>{{ page.title }}</title>

<!-- CSS -->
{% include head-styles.html %}


<!-- SCRIPTS -->
{% include head-scripts.html %}



