<nav class="navbar navbar-expand-md navbar-dark fixed-top my-navbar-default">
    <a class="navbar-brand" href="{{ site.github.url }}/">Charles Brown-Roberts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link"href="{{ site.github.url }}/">Home</a></li>
            <li class="nav-item"><a class="nav-link"href="{{ site.github.url }}/projects">Projects</a></li>
            <li class="nav-item"><a class="nav-link"href="{{ site.github.url }}/blog">Blog</a></li>
            <li class="nav-item"><a class="nav-link"href="{{ site.github.url }}/courses">Courses</a></li>
        </ul>
    </div>
</nav>