---
title: CGB37 Presentations
layout: default
category: presentation
jumbotron: presentations/images/jumbotron.png
---

<section id="presentations" class="section pv-40 light-gray-bg">

    <div class="jumbotron my-jumbotron">
        <img src="{{ site.baseurl }}/{{ page.jumbotron }}">
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                {% include profile.html %}
                <div class="adsense-blog-post">
                    {% include adsense-blog-post.html %}
                </div>
            </div>

            <div class="col-lg-9">
                {% for post in site.categories.presentation limit:10 %}
                <article id="{{ post.id }}">
                    <a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">
                        <h1>{{ post.title }}</h1>
                        <span>{{ post.date }}</span>
                    </a>
                    <div class="article-metadata">
                        <span>by {{ post.author }}</span>
                    </div>
                    <div class="article-abstract">

                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>